@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.manage_btn {
	position: absolute;
	right: 3%;
	top: 30px;
	width: 200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.manage_btn.register {
	right: 300px;
}

.manage_btn.username {
	right: 540px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 2px solid white;
	height: 50px;
	border-radius: 10px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	line-height: 3;
}

.manage_btn.username_1 {
	box-shadow: none;
	margin-top: -23px;
	text-align: center;
	right: 290px;
	border-radius: 10px;
	width: 200px;
	padding: 5px 7px;
	border: 1px solid black;
}

.manage_btn.username_1.username_2 {
	right: 450px;
}

.manage_btn.small {
	top: 5px;
	right: 5%;
	font-size: 18px;
	width: 150px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.header {
	background-image: url(https://thumbs.gfycat.com/PolishedFarawayElk-size_restricted.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position-y: -200px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
}

.App.home {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header.home {
	background-image: url(https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png);
	position: relative;
	height: 70vh;
	width: 100%;
	background-position-y: -170px;
}

.register_btn {
	width: 200px;
	margin: 30px 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header h1 {
	text-shadow: 4px 4px 8px black;
	font-family: "Kalam", cursive;
	font-size: 110px;
	color: white;
	text-align: center;
	width: 100%;
	line-height: 0.9;
}

.header p {
	text-shadow: 2px 2px 4px black;
	color: white;
	font-family: "Kalam", cursive;
	font-size: 34px;
	width: 100%;
}

.search {
	height: 60px;
}

.search form .input-group {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.result {
	background-color: #f2f2f2;
	width: 100%;
}

.item {
	display: inline-block;
	margin: 10px;
	box-sizing: border-box;
	width: 15%;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.item.each_news {
	height: 350px;
	width: 700px;
	position: relative;
}

.item_head.each_news {
	height: 350px;
	overflow: hidden;
	position: absolute;
}

.item_head.each_news img {
	object-fit: cover;
}

.each_news_link {
	color: black;
}

.item.eachArtist:hover,
.each_news_link:hover {
	filter: brightness(0.9);
}

a.a_item:hover,
.each_news_link:hover {
	color: unset !important;
}

.item_body_outer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 130px;
	background-color: white;
}

.item_body_outer.each_news {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	width: 100%;
	bottom: 0;
}

.item_body {
	padding: 10px 0;
	width: 80%;
}

.name.each_news {
	color: white !important;
	font-weight: normal !important;
	font-size: 22px !important;
	font-family: "Roboto";
}

.item .name {
	color: black;
	font-weight: bold;
}

.item .fansNum,
.item .albumNum {
	color: black;
	font-weight: bold;
	margin-bottom: 0;
	text-decoration: none;
}

.item .fansNum span,
.item .albumNum span {
	color: grey;
	font-weight: normal;
}

.spinner-border {
	margin-bottom: -30px;
}

.nav_bar {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 50px;
	background-color: white;
	padding: 0 3%;
}

.nav_bar .back_link {
	color: #d2a3a9;
	text-decoration: none;
	font-size: 24px;
	line-height: 1.8;
	display: inline-block;
	width: 10%;
	box-sizing: border-box;
}

.nav_bar .back_link img {
	margin-top: -5px;
}

.nav_bar .page_title {
	display: inline-block;
	text-align: center;
	width: 80%;
	font-weight: bold;
	font-size: 24px;
	margin-top: 5px;
	box-sizing: border-box;
}

#manage_btn2 {
	height: 37px;
	right: 270px;
	line-height: 0.6;
}

#manage_btn2_outer {
	box-sizing: border-box;
	display: inline-block;
	width: 10%;
}

#eachArtist_body {
	background-color: #f2f2f2;
}

#eachArtist_content {
	padding-top: 70px;
	background-color: #f2f2f2;
	width: 90%;
	display: block;
	margin: 0 auto;
}

#top_track_content,
#related_news_content {
	text-align: center;
}

#top_track,
#related_news {
	border-radius: 10px;
	padding: 20px;
	margin: 20px 0;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

#top_track #top_track_title,
#related_news #related_news_title {
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
}

.each_track {
	display: inline-block;
	margin: 30px 20px 10px 20px;
}

.each_track .track_title {
	font-size: 18px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
}

.each_track .track_recording {
	text-align: center;
}

.each_track .track_link {
	text-align: center;
}

.item_body .name {
	font-size: 20px;
}

.news_source_date {
	width: 100%;
}

.news_source_date .news_source {
	background-color: #0c71e0;
	padding: 0px 10px 2px 10px;
	border-radius: 5px;
	color: rgba(255, 255, 255, 0.9);
	font-size: 16px;
}

.news_source_date .news_date {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 0px 10px 2px 10px;
	border-radius: 5px;
	color: rgba(255, 255, 255, 0.9);
	font-size: 16px;
}

#save_artist_btn {
	width: 220px;
	font-size: 20px;
	font-weight: 600;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.eachArtist.eachSavedArtist {
	width: 290px;
	height: 450px;
}

.item_body_outer.eachSavedArtist {
	height: 160px;
}

.result.savedArtist {
	border-radius: 10px;
}

.sorting_outer.artist {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.sorting_table {
	width: 600px;
	margin: 0 auto;
	display: inline-block;
	display: table;
}

#sortby_title,
.sortby_type,
#language_title,
.language_type {
	width: 25%;
	font-size: 18px;
}

#sortby_title,
#language_title {
	font-weight: bold;
}

#sortby_row,
#language_row {
	height: 40px;
}

div.modal-dialog {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.modal-content {
	width: 800px;
}

div.modal-body input {
	width: 100%;
	border: 2px solid grey;
	border-radius: 10px;
	padding: 5px 10px;
}
