@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#manage_btn {
  position: absolute;
  right: 3%;
  top: 30px;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  background-image: url(https://thumbs.gfycat.com/PolishedFarawayElk-size_restricted.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position-y: -200px;
  display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
}

.header h1 {
	text-shadow: 4px 4px 8px black;
	font-family: 'Kalam', cursive;
	font-size: 110px;
	color: white;
  text-align: center;
  width: 100%;
  line-height: .9;
}

.header p {
  text-shadow: 2px 2px 4px black;
  color: white;
	font-family: 'Kalam', cursive;
  font-size: 34px;
  width: 100%;
}

.search {
  height: 100px;
}

.search form .input-group{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.result {
	background-color: #f2f2f2;
	width: 100%;
}

.item {
	display: inline-block;
	margin: 10px;
	box-sizing: border-box;
	width: 15%;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.item:hover {
	filter: brightness(0.9);
}

a.a_item:hover {
	color: unset !important;
}

.item_body_outer {
	display: flex;
	justify-content: center;
  align-items: center;
  height: 130px;
	background-color: white;
}

.item_body {
  padding: 10px 0;
  width: 80%;
}

.item .name {
	color: black;
	font-weight: bold;
}

.item .fansNum,
.item .albumNum {
	color: black;
  font-weight: bold;
  margin-bottom: 0;
}

.item .fansNum span,
.item .albumNum span {
	color: grey;
	font-weight: normal;
}
